# 1: Load and Inspect Data

We begin by loading the daily Metrorail ridership dataset and displaying the first few rows to understand its structure.

In [26]:
import pandas as pd
df = pd.read_excel('data/Daily Ridership.xlsx', header=1)

## 2: Transpose Data

We transpose the dataset so that dates become rows and 'Bus' and 'Rail' become columns.

In [27]:
# Transpose the dataframe so that dates become rows
df_t = df.set_index('Mode').T

# Reset the index so the dates become a column
df_t = df_t.reset_index().rename(columns={'index': 'Date'})

# Display the first few rows
df_t.head()

Mode    Date     Bus    Rail
0     1/1/19  141809  110601
1     1/2/19  369962  460750
2     1/3/19  397204  497421
3     1/4/19  386149  472248
4     1/5/19  195569  159645

## 3: Convert Dates to Datetime Format

To work with time-based data effectively, we convert the `Date` column to datetime format and confirm the change using `.info()`.

In [28]:
# Convert the 'Date' column to datetime format
df_t['Date'] = pd.to_datetime(df_t['Date'])

# Confirm the conversion
df_t.info()

/var/folders/02/57dqfrgx6zzfw_sgv9yyk60c0000gn/T/ipykernel_3147/383267541.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_t['Date'] = pd.to_datetime(df_t['Date'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2192 entries, 0 to 2191
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2192 non-null   datetime64[ns]
 1   Bus     2192 non-null   int64
 2   Rail    2192 non-null   int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 51.5 KB

## 4: Filter for Metrorail Data Only

Since we are focusing on Metrorail ridership, we create a new DataFrame that includes only the `Date` and `Rail` columns.

In [29]:
df_rail = df_t[['Date', 'Rail']]

In [30]:
df_rail.head()

Mode       Date    Rail
0    2019-01-01  110601
1    2019-01-02  460750
2    2019-01-03  497421
3    2019-01-04  472248
4    2019-01-05  159645