In [3]:
df = pd.read_csv('data/metroridership.csv', header=1)
df.head()

,Bus,141809,369962,397204,386149,195569,166810,394049,406894,389806,...,184980,292357,239149,116612,257023,296062,201763,194756,313287,292875
0,Rail,110601,460750,497421,472248,159645,117315,511506,553595,547497,...,170401,256436,150711,61690,206840,239847,174125,168612,275401,284221

In [4]:
import pandas as pd

# Load original Excel file using second row as header
df = pd.read_excel('data/daily_metrorail_ridership.xlsx', header=1)

# Filter to just 'Rail' mode (optional depending on your goal)
df = df[df['Mode'] == 'Rail']

# Transpose the dataset so dates become rows, and rename columns
df_transposed = df.drop(columns='Mode').transpose().reset_index()
df_transposed.columns = ['Date', 'Daily_Ridership']

# Save the clean, tidy CSV
df_transposed.to_csv('data/clean_metroridership.csv', index=False)