In [2]:
df = pd.read_csv('data/metroridership.csv', header=1)
df.head()

NameError: name 'pd' is not defined

In [ ]:
import pandas as pd

# Load original Excel file using second row as header
df = pd.read_excel('data/daily_metrorail_ridership.xlsx', header=1)

# Filter to just 'Rail' mode (optional depending on your goal)
df = df[df['Mode'] == 'Rail']

# Transpose the dataset so dates become rows, and rename columns
df_transposed = df.drop(columns='Mode').transpose().reset_index()
df_transposed.columns = ['Date', 'Daily_Ridership']

# Save the clean, tidy CSV
df_transposed.to_csv('data/clean_metroridership.csv', index=False)

In [ ]:
import pandas as pd

df = pd.read_csv('data/clean_metroridership.csv')
df.head()

     Date  Daily_Ridership
0  1/1/19           110601
1  1/2/19           460750
2  1/3/19           497421
3  1/4/19           472248
4  1/5/19           159645

In [ ]:
df.columns

Index(['Date', 'Daily_Ridership'], dtype='object')

In [ ]:
df['Daily_Ridership'].describe()

count      2192.000000
mean     270479.761405
std      186331.130039
min         -25.000000
25%      121151.750000
50%      229742.000000
75%      386187.250000
max      754505.000000
Name: Daily_Ridership, dtype: float64